.breadcrumb {
  margin-bottom: 0;
  background-color: #f0f0f0;
}

.breadcrumb-item {
  a {
    font-size: 90%;
    font-weight: 600;
    &.active {
      font-size: 100%;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "-";
}
