<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
      <a
        routerLink="{{ breadcrumb.url }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ breadcrumb.label }}
      </a>
    </li>
  </ol>
</nav>
