.content {
  padding: 2em 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em 1em;
}

h1 {
  padding: 0 3rem;
  line-height: 2rem;
  color: #333;
  font-weight: 400;
}

h2 {
  padding: 0 3rem;
  font-size: 110%;
  color: #666;
  font-weight: 400;
}

.image-cell {
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  box-shadow: 0.3em 0.4em 0.2em rgba(#555, 0.25);
  transition: 0.25s box-shadow ease-out, 0.25s transform ease-out;
  animation: ease-out fadeIn 1s;

  &:hover {
    transform: scale(101%);
    box-shadow: 0.4em 0.4em 0.3em rgba(#555, 0.25);
  }

  img {
    width: 100%;
    height: 100%;
  }

  .cell-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: #e0e0e0;
    cursor: pointer;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em 1em;

    div {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0.25em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-aspect-ratio: 1/1) {
  .content {
    padding: 3em 1em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10em, 1fr));
  }
  header {
    padding: 0 1em;
  }
  h1,
  h2 {
    padding: 0 1rem;
  }
  .cell-overlay {
    font-size: 80%;
  }
}
