.app-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #f0f0f0;

  .header {
    border-bottom: 0.1em solid #eee;
    flex: 0 0 3em;
    padding: 0 2em;
  }

  .app-content {
    overflow: auto;
  }
}

* {
  letter-spacing: 0.02em;
}

@media (max-aspect-ratio: 1/1) {
  .app-body {
    .header {
      padding: 0em;
    }
  }
}
