<ng-container *ngIf="loadingRequest$ | async">
  <h1 *ngIf="user">{{ user.name }}'s albums</h1>
  <div class="content">
    <app-album-cell
      *ngFor="let album of albums"
      [album]="album"
      routerLink="album/{{ album.id }}"
    ></app-album-cell>
  </div>
</ng-container>
