<ng-container *ngIf="loadingRequest$ | async">
  <h1 *ngIf="album">{{ album.title }}</h1>
  <h2 *ngIf="user">{{ user.name }}</h2>
  <div class="content">
    <app-photo-cell
      *ngFor="let photo of photos"
      [photo]="photo"
    ></app-photo-cell>
  </div>
</ng-container>
