<div class="image-cell album-preview">
  <div class="thumbnails">
    <div *ngFor="let thumbnail of photos$ | async" class="thumbnail">
      <app-photo [photo]="thumbnail"></app-photo>
    </div>
  </div>
  <div class="cell-overlay" *ngIf="album">
    <div [title]="album.title">
      {{ album.title }}
    </div>
  </div>
</div>
