.thumbnails {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  .thumbnail {
    width: 50%;
    display: inline-block;
  }
}

::ng-deep .album-preview .thumbnail .loading-message {
  font-size: 90%;
}
