<div class="image-cell" (click)="fullScreenOpen = true">
  <app-photo [photo]="photo"></app-photo>
  <div class="cell-overlay" *ngIf="displayOverlay">
    <div>{{ photo?.title }}</div>
  </div>
</div>
<div class="fullscreen-view" *ngIf="fullScreenOpen">
  <div class="image-container">
    <h1 class="close-button" (click)="fullScreenOpen = false">X</h1>
    <div class="loading-message" *ngIf="!photoLoaded">Loading...</div>
    <img
      [src]="photo.url"
      (load)="photoLoaded = true"
      (click)="detailsOpen = !detailsOpen"
    />
    <div class="description">
      <p>
        {{ photo?.title }}
      </p>
    </div>
  </div>
  <div
    class="details-panel"
    *ngIf="loadingRequest$ | async"
    [class.open]="detailsOpen"
  >
    <h3>Details</h3>
    <div class="row no-gutters">
      <div class="col-4 font-weight-bold">Title:</div>
      <div class="col photo-title">{{ photo?.title }}</div>
    </div>
    <div class="row no-gutters">
      <div class="col-4 font-weight-bold">Album title:</div>
      <div class="col album-title">{{ album?.title }}</div>
    </div>
    <div class="row no-gutters">
      <div class="col-4 font-weight-bold">Creator:</div>
      <div class="col user-name">{{ user?.name }}</div>
    </div>
  </div>
</div>
