.loading-message {
  width: 100%;
}

.fullscreen-view {
  background-color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;

  .close-button {
    position: absolute;
    color: #eee;
    right: 1em;
    top: 1em;
    cursor: pointer;
    z-index: 10001;
  }

  .image-container {
    height: 100%;
    text-align: center;
    position: relative;
    flex-grow: 1;
    img {
      height: 100%;
      width: auto;
    }
    .loading-message {
      color: #eee;
    }
  }
  .details-panel {
    background-color: #f0f0f0;
    width: 0;
    flex-grow: 0;
    flex-shrink: 1;
    transition: 0.4s width, 0.4s margin;
    padding: 1em;
    margin-right: -2em;

    & > * {
      transition: 0.4s opacity;
      opacity: 0;
    }

    &.open {
      width: 25em;
      margin-right: 0;
      & > * {
        opacity: 1;
      }
    }

    .row {
      width: 23em;
      margin: 0.5em 0;
    }

    h3 {
      margin-bottom: 1em;
      padding-bottom: 0.5em;
      border-bottom: 0.1em solid #e0e0e0;
    }
  }
  .description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
    p {
      color: #eee;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media (max-aspect-ratio: 1/1) {
  .fullscreen-view {
    flex-wrap: wrap;
    .image-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .details-panel {
      width: 100%;
      transition: 0.3s transform;
      padding: 1em;
      &.open {
        width: 100%;
        transform: translateY(-100%);
      }
    }
    .description p {
      width: 90%;
    }
  }
}
