/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

html,
body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  height: 100%;
}
