<div class="image-cell">
  <app-photo [photo]="albumPhoto$ | async"></app-photo>
  <div class="cell-overlay" *ngIf="user">
    <div class="user-name" [title]="user.name">
      {{ user.name }}
    </div>
    <div class="user-username" [title]="user.username">
      {{ user.username }}
    </div>
  </div>
</div>
