<div class="photo-preview">
  <div class="loading-message" *ngIf="!photoLoaded">Loading preview...</div>
  <img
    *ngIf="photo"
    [src]="photo.thumbnailUrl"
    [class.d-none]="!photoLoaded"
    (load)="photoLoaded = true"
  />
</div>
