:host {
  width: 100%;
  height: 100%;
}
.photo-preview {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
}
.photo-preview img {
  width: 100%;
  height: 100%;
}

.loading-message {
  width: 100%;
  color: #666;
}
